@charset "utf-8";

//chat3에서 단톡 프로필 사진
header {
	> a {
		> .sujins {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			width: 80px;
			height: 80px;
			margin: 20px;
			> img {
				display: block;
				width: 38px;
				height: 38px;
				border-radius: 10px;
			}
		} //.sujins
	} //a
} //header

section.talkroom3 {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 171px;
	width: 100%;
	height: 530px;
	.mine {
		margin-right: 20px;
	}
	.yours {
		margin-left: 5px;
	}
	p {
		@include chatBall(60px);
	}
	img {
		@include chatImg;
	}
	> .video-container {
		@include flexCenter;
		grid-row: 1/2;
		grid-column: 3/7;
		margin-right: 15px;
		padding: 5px;
		background-color: lightyellow;
		border-radius: 10px;
		& + figure {
			grid-row: 2/3;
			& + p {
				margin-left: 10px;
				grid-row: 2/3;
				grid-column: 2/6;
			}
		} //img
	} //figure
	> figure:nth-of-type(3) {
		grid-row: 3/4;
	}
	> h2 {
		height: 50px;
		padding: 5px;
		grid-row: 3/4;
		grid-column: 2/6;
		font-size: 18px;
		line-height: 50px;
		background-color: #fafafa;
		border-radius: 10px;
	}
	figcaption {
		font-weight: 600;
		text-align: center;
	}

	.vote {
		grid-row: 4/5;
		grid-column: 2/6;
		padding: 10px;
		margin: 5px 10px 10px 10px;
		font-size: 17px;
		font-weight: 500;
		line-height: 1.6;
		background-color: #fafafa;
		border-radius: 10px;
		input {
			display: none;
			&:checked + label:before {
				background-image: url(./../images/checkedbox.png);
			} //:before
			& + label {
				display: flex;
				align-items: center;
				&:hover {
					@include listhover;
				}
				&:before {
					display: inline-block;
					width: 25px;
					height: 25px;
					margin-right: 5px;
					background-image: url(./../images/checkbox.png);
					background-size: cover;
					content: '';
				} //label:before
			} //label
		} //input
	} //.vote

	> p:nth-of-type(2) {
		grid-row: 5/6;
		grid-column: 2/7;
		& + p {
			grid-row: 6/7;
			grid-column: 2/7;
		}
	}

	> p:nth-of-type(4) {
		grid-row: 7/8;
		grid-column: 3/7;
		& + p {
			grid-row: 8/9;
			grid-column: 3/7;
			font-weight: 700;
		}
	}

	> figure:nth-of-type(4) {
		grid-row: 9/10;
		& + p {
			grid-row: 9/10;
			grid-column: 2/6;
		}
	}
} //section.talkroom3
