<<<<<<< HEAD
@charset "utf-8";

@keyframes footerstart {
	0% {
		transform: translate(0, 200px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes click {
	0% {
		color: red;
	}
	100% {
		color: green;
	}
}

@mixin date {
	@include flexCenter();
	width: 200px;
	height: 40px;
	margin: 5px auto;
	font-weight: 500;
	font-size: 20px;
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 30px;
}

@mixin chatImg {
	width: 60px;
	height: 60px;
	margin: 10px 10px 0 10px;
	border-radius: 20px;
}

@mixin chatBall($height:50px) {
	@include flexCenter();
	width: 80%;
	height: $height;
	margin: 15px auto;
	padding: 0 10px;
	font-weight: 500;
	font-size: 17px;
	background-color: lightyellow;
	border-radius: 10px;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	> a {
		display: block;
		> img {
			@include profileImg;
			margin: 20px;
		} //img
	} //a
	> .intro {
		position: absolute;
		top: 18px;
		left: 120px;
		> p {
			color: #555;
		}
	} //.intro
	> .plusicon {
		display: flex;
		position: absolute;
		right: 15px;
		> a {
			display: block;
			margin-left: 15px;
			font-size: 25px;
			> i {
				&:hover {
					color: #555;
				}
			}
		} //a
	} //.plusicon
} //header

section.talkroom1 {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: 1fr 2fr 2fr 1fr;
	align-items: center;
	position: absolute;
	top: 175px;
	width: 100%;
	height: 535px;

	p {
		@include chatBall;
	}
	img {
		@include chatImg;
	}
	figcaption {
		font-weight: 600;
		text-align: center;
	} //figcaption
	.mine {
		margin-right: 20px;
	}
	.yours {
		margin-left: 5px;
	}
	> h2 {
		display: flex;
		align-items: center;
		grid-column: 1/5;
		height: 100%;
		padding: 0 10px;
		font-size: 20px;
		background-color: #fafafa;
		border-radius: 5px;
		> a {
			display: block;
			position: absolute;
			top: 30px;
			right: 32px;
			width: 0;
			height: 0;
			border-width: 15px;
			border-style: solid;
			border-color: lightseagreen transparent transparent transparent;
			transition: all 0.2s;
			&:hover {
				border-color: palevioletred transparent transparent transparent;
			}
		} //a
		&.visible {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			> a {
				top: 15px;
				transform: rotate(180deg);
			} //.visible>a
		} //h2.visible
		&.visible + h3 {
			display: block;
		}
	} //h2
	> h3 {
		display: none;
		grid-row: 2/3;
		grid-column: 1/5;
		height: 100%;
		padding: 0 20px;
		font-size: 20px;
		line-height: 60px;
		background-color: #fafafa;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		box-sizing: border-box;
	} //h3
	> .click {
		position: absolute;
		top: 10px;
		right: 25px;
		color: green;
		font-weight: 600;
		animation: click 0.5s infinite 0s alternate linear;
	}
	> .date {
		@include date;
		grid-column: 2/4;
		& + p {
			grid-column: 3/5;
			margin-right: 20px;
			& + p {
				grid-column: 2/5;
				margin-right: 20px;
			} //.date+p+p
		} //.date+p
	} //.date
	> figure {
		& + p {
			grid-column: 2/4;
			margin-left: 10px;
			& + p {
				grid-column: 3/5;
				margin-right: 20px;
			} //figure+p+p
		} //figure+p
	} //figure
} //section

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	box-sizing: border-box;
	animation: footerstart 0.5s 1 forwards;
	> textarea {
		width: 100%;
		height: 130px;
		padding: 20px;
		color: #333;
		font-size: 25px;
		background-color: #fafafa;
		box-sizing: border-box;
		&:focus {
			outline: none;
		}
	} //textarea
	> button {
		//버튼 기본 디자인 제거
		background-color: none;
		border: none;
		outline: none;

		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 100px;
		height: 50px;
		font-size: 20px;
		border-radius: 5px;
		&:hover {
			background-color: #ddd;
		}
	} //button
	> .plusicon {
		position: absolute;
		bottom: 15px;
		left: 15px;
		> a {
			> i {
				margin-right: 15px;
				color: #ddd;
				font-size: 25px;
				&:hover {
					color: #111;
				}
			} //i
		} //a
	} //.plusicon
} //footer
=======
@charset "utf-8";

@keyframes footerstart {
	0% {
		transform: translate(0, 200px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes click {
	0% {
		color: red;
	}
	100% {
		color: green;
	}
}

@mixin date {
	@include flexCenter();
	width: 200px;
	height: 40px;
	margin: 5px auto;
	font-weight: 500;
	font-size: 20px;
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 30px;
}

@mixin chatImg {
	width: 60px;
	height: 60px;
	margin: 10px 10px 0 10px;
	border-radius: 20px;
}

@mixin chatBall($height:50px) {
	@include flexCenter();
	width: 80%;
	height: $height;
	margin: 15px auto;
	padding: 0 10px;
	font-weight: 500;
	font-size: 17px;
	background-color: lightyellow;
	border-radius: 10px;
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	> a {
		display: block;
		> img {
			@include profileImg;
			margin: 20px;
		} //img
	} //a
	> .intro {
		position: absolute;
		top: 18px;
		left: 120px;
		> p {
			color: #555;
		}
	} //.intro
	> .plusicon {
		display: flex;
		position: absolute;
		right: 20px;
		> a {
			display: block;
			margin-left: 15px;
			font-size: 25px;
			> i {
				&:hover {
					color: #555;
				}
			}
		} //a
	} //.plusicon
} //header

section.talkroom1 {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: 1fr 2fr 2fr 1fr;
	align-items: center;
	position: absolute;
	top: 175px;
	width: 100%;
	height: 535px;
	p {
		@include chatBall;
	}
	img {
		@include chatImg;
	}
	figcaption {
		font-weight: 600;
		text-align: center;
	} //figcaption
	.mine {
		margin-right: 20px;
	}
	.yours {
		margin-left: 5px;
	}
	> h2 {
		display: flex;
    align-items: center;
		grid-column: 1/5;
		height: 100%;
		margin: 0 10px;
		padding: 0 10px;
		font-size: 20px;
		background-color: #fafafa;
		border-radius: 5px;
		> a {
			display: block;
			position: absolute;
			top: 30px;
			right: 32px;
			width: 0;
			height: 0;
			border-width: 15px;
			border-style: solid;
			border-color: lightseagreen transparent transparent transparent;
			transition: all 0.2s;
			&:hover {
				border-color: palevioletred transparent transparent transparent;
			}
		} //a
		&.visible {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			> a {
				top: 15px;
				transform: rotate(180deg);
			} //.visible>a
		} //h2.visible
		&.visible + h3 {
			display: block;
		}
	} //h2
	> h3 {
		display: none;
		grid-row: 2/3;
		grid-column: 1/5;
		height: 100%;
		margin: 0 10px;
		padding: 0 20px;
		font-size: 20px;
		line-height: 60px;
		background-color: #fafafa;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		box-sizing: border-box;
	} //h3
	> .click {
		position: absolute;
		top: 10px;
		right: 25px;
		color: green;
		font-weight: 600;
		animation: click 0.5s infinite 0s alternate linear;
	}
	> .date {
		@include date;
		grid-column: 2/4;
		& + p {
			grid-column: 3/5;
			margin-right: 20px;
			& + p {
				grid-column: 2/5;
				margin-right: 20px;
			} //.date+p+p
		} //.date+p
	} //.date
	> figure {
		& + p {
			grid-column: 2/4;
			margin-left: 10px;
			& + p {
				grid-column: 3/5;
				margin-right: 20px;
			} //figure+p+p
		} //figure+p
	} //figure
} //section

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	box-sizing: border-box;
	animation: footerstart 0.5s 1 forwards;
	> textarea {
		width: 100%;
		height: 130px;
		padding: 20px;
		color: #333;
		font-size: 25px;
		background-color: #fafafa;
		box-sizing: border-box;
		&:focus {
			outline: none;
		}
	} //textarea
	> button {
		//버튼 기본 디자인 제거
		background-color: none;
		border: none;
		outline: none;

		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 100px;
		height: 50px;
		font-size: 20px;
		border-radius: 5px;
		&:hover {
			background-color: #555;
		}
	} //button
	> .plusicon {
		position: absolute;
		bottom: 15px;
		left: 15px;
		> a {
			> i {
				margin-right: 15px;
				color: #ddd;
				font-size: 25px;
				&:hover {
					color: #111;
				}
			} //i
		} //a
	} //.plusicon
} //footer
>>>>>>> 12c0b0ca6775439d07170fe95738d25d41a5374d
