@charset "utf-8";

.info{
  @include excludeBar(60px);
  width: $calWidth;
  font-weight: 500;
  font-size: 20px;
  >.version{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #ccc;
    >img{
      @include profileImg;
      margin: 15px 20px 15px 0;
    }//img
    .profiletext{
      >a{
        font-size: 14px;
        &:hover{@include listhover();}
      }
    }//.profiletext
  }
  >ol{
    overflow: auto;
    height: 620px;
    border: 1px solid #ccc;
    line-height: 1.6;
    >li{
      font-weight: 700;
      font-size: 22px;
      >ul{
        >li{
          color: #333;
          font-size: 17px;
          text-indent: 30px;
        }
      }
    }//li
  }//ol
}//.info

 

  
  
