<<<<<<< HEAD
@charset "utf-8";

.notice {
	@include excludeBar(60px);
	width: $calWidth;
	font-weight: 500;
	font-size: 20px;
	> ul > li {
		padding: 50px 20px;
		font-size: 22px;
		line-height: 2;
		border-bottom: 1px solid #ccc;
		#alarm,
		#inform,
		#informanswer {
			display: none;
			&:checked + label:before {
				background-image: url(./../images/checkedbox.png);
			}
			& + label {
				display: flex;
				align-items: center;
				&:hover {
					@include listhover;
				}
				&:before {
					display: inline-block;
					width: 25px;
					height: 25px;
					margin-right: 20px;
					background-image: url(./../images/checkbox.png);
					background-size: cover;
					content: '';
				} //label:before
			} //label
		} //#
	} //ul>li

	.sound {
		> label {
			&:before {
				display: none;
			}
			margin-right: 10px;
		} //label
		> a {
			margin-right: 50px;
			&:hover {
				color: palevioletred;
				& + span {
					display: block;
				}
			}
		} //a
		> span {
			display: none;
			position: absolute;
			top: 190px;
			left: 20px;
			padding: 5px;
			font-size: 15px;
			font-weight: 500;
			background-color: #fafafa;
			border-radius: 10px;
			&::before {
				display: block;
				position: absolute;
				top: -20px;
				left: 58px;
				width: 0;
				height: 0;
				border-width: 10px;
				border-style: solid;
				border-color: transparent transparent #fafafa transparent;
				content: '';
			} //span:before
			& + input {
				width: 220px;
			}
		} //span
	} //.sound

	.mark {
		label {
			margin-right: 20px;
		}
		select {
			appearance: none;
			width: 200px;
			padding: 5px 10px;
			background-image: url(./../images/down.png);
			background-position: 170px 0;
			background-size: contain;
			background-repeat: no-repeat;
			border-radius: 5px;
			outline: none;
		}
	} //.mark

	.keyword {
		position: relative;
		> input {
			display: none;
			&:checked + .keyback {
				background-color: #2854c5;
				&:after {
					left: 27px;
				}
			}
		}
		> .keyback {
			display: inline-block;
			position: absolute;
			top: 8px;
			width: 55px;
			height: 30px;
			margin: 0 30px;
			background-color: #ccc;
			border-radius: 30px;
			&:hover {
				background-color: rgba(rgb(143, 188, 203), .5);
			}
			&:after {
				display: block;
				position: absolute;
				top: 2px;
				left: 1px;
				width: 26px;
				height: 26px;
				background-color: #fafafa;
				border-radius: 50%;
				transition: all 0.5s;
				content: '';
			}
		}
		& + li {
			> button {
				@include bluebtn;
				margin: 10px 0;
			}
		}
	} //.keyword
} //.notice
=======
@charset "utf-8";

.notice{
  @include excludeBar(60px);
  width: $calWidth;
  font-weight: 500;
  font-size: 20px;
  >ul>li{
    padding: 50px 20px;
    font-size: 22px;
    line-height: 2;
    border-bottom: 1px solid #ccc;
     #alarm, #inform, #informanswer{
      display: none;
      &:checked+label:before{
        background-image: url(./../images/checkedbox.png);
      }
      &+label{
        display: flex;
        align-items: center;
        &:hover{@include listhover;}
        &:before{
          display: inline-block;
          width: 25px;
          height: 25px;
          margin-right: 20px;
          background-image: url(./../images/checkbox.png);
          background-size: cover;
          content: '';
          }//label:before
      }//label
    }//#
  }//ul>li

   .sound{
    >label{
      &:before{display: none;}
      margin-right: 10px;
      }//label
    >a{
      margin-right: 50px;
      &:hover{
        color: palevioletred;
        &+span{display: block;}}
    }//a
    >span{
      display: none;
      position: absolute;
      top: 190px;
      left: 20px;
      padding: 5px;
      font-size: 15px;
      font-weight: 500;
      background-color: #fafafa;
      border-radius: 10px;
      &::before{
        display: block;
        position: absolute;
        top: -20px;
        left: 58px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #fafafa transparent;
        content: '';
      }//span:before
      &+input{width: 220px;}
    }//span
  }//.sound

  .mark{
      label{margin-right: 20px;}
      select{
        appearance: none;
        width: 200px;
        padding: 5px 10px;
        background-image: url(./../images/down.png);
        background-position: 170px 0;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
        outline: none;
      }  
  }//.mark
   
  .keyword{
    position: relative;
    >input{
      display: none;
      &:checked+.keyback{
        background-color: #2854c5;
        &:after{left:27px;}
      }
    }
    >.keyback{
      display: inline-block;
      position: absolute;
      top: 8px;
      width: 55px;
      height: 30px;
      margin: 0 30px;
      background-color: #ccc;
      border-radius: 30px;
      &:hover{background-color: rgba(rgb(143, 188, 203), .5);;}
      &:after{
        display: block;
        position: absolute;
        top: 2px;
        left: 1px;
        width: 26px;
        height: 26px;
        background-color: #fafafa;
        border-radius: 50%;
        transition: all 0.5s;
        content: '';
      }
    }
    &+li{
      >button{
        @include bluebtn;
        margin: 10px 0;
      }
    }
  }//.keyword
  }//.notice

 

  
  
>>>>>>> 12c0b0ca6775439d07170fe95738d25d41a5374d
